h2{
    margin: 0;
}
/* Styling for the container element */
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Horizontally center the flex items */
    align-items: center; /* Vertically center the flex items */
}

/* Styling for the blocks */
.block {
    background-color: #f1f1f1; /* Set the background color of the blocks */
    border: 1px solid #ccc; /* Add a border around the blocks */
    margin: 10px; /* Add some margin around the blocks */
    padding: 20px; /* Add padding inside the blocks */
    display: flex; /* Enable flex properties for the blocks */
}

/* Styling for the left blocks */
.block-left {
    width: 50vw;
    height: 30vh;
    margin-right: 2vw;
}

/* Styling for the right blocks */
.block-right {
    width: 18vw;
    height: 35vh;
}

.header{
    display: flex;
    margin-right: 53vw;
}

.account{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 15vw;
    height: 5vw;
}

#circle
 {
   border-radius:50% 50% 50% 50%;  
   width:5vw;
   height:5vw;
   margin: 10px;
   position: relative;
   right: 0%;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }