h2{
    margin: 0;
}
/* Styling for the container element */
.container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically center the flex items */
}

.header{
    position: relative;
    display: flex;
    margin-right: 53vw;
}


div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }