h2{
    margin: 0;
}
/* Styling for the container element */
.container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically center the flex items */
    margin-top: 2vh;
    margin-left: 0;
}


.header{
    position: relative;
    left: 2%;
}

.account{
  position: relative;
  display: flex;
}


.collapsible {
    background-color: #FADE1B;
    color: black;
    cursor: pointer;
    margin-top: 2vh;
    padding: 1vmin;
    width: 60vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    position: relative;
    left: 2%
  }

  .content {
    padding-left: 1vw;
    padding-right: 1vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    margin-bottom: 5vh;
    width: 58vw;
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: row;
  }

  .assessment-anchor{
    height: 10vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3vh;
    margin-right: 1vw;
  }

  #assessment-img{
    height: 10vh;
    width: 10vw;
    object-fit: cover;
  }

  .left_panel{
    float: left;
    width: 80%;
    overflow: hidden;
  }
  
  .right_panel{
    float: right;
    width: 20%;
    overflow: hidden;
  }

.side-section{
    width: 20vh;
}

body{
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
}
.wrapper{
  position:relative;
  width: 250px;
  background: #fff;
  border-radius: 10px;
  margin-top: 1vh;

}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 20px 10px; 
  /* padding: 25px 30px 10px;  */
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 10px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 0.75rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.assignments{
  padding: 10px;
}