/* Sidebar */
.side-bar {
    background-color: darkgray;
    width: 200px;
    height: 100vh;
    color: #fff;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
}

.side-bar nav ul {
    list-style: none;
    padding: 0;
}

.side-bar nav ul li {
    margin-bottom: 10px;
}

.side-bar nav ul li a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}

.root {
    display: none;
}