body {
    background-color: #F2F2F2;
}

/* Login page background image */
.RootBackground {
    background-image: url('Images/Classroom.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.RootLoginForm {
    background: white;
    width: 30%;
    height: 50rem;
    margin-top: 7em;
    padding-top: 12em;
}

.Block {
    display: block;
}

.TitleText {
    text-align: center;
    margin-bottom: 2em;
}

.Forms {
    text-align: center;
    /* Center Align */
    padding: 20px;
}

input {
    margin-top: 15px;
    margin-bottom: 15px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Input container */
.input-container {
    position: relative;
    margin: 20px;

}

/* Input field */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.1em;
    width: 0;
    background-color: #ff6600;
    transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus+.input-label {
    top: -1em;
    font-size: 0.8em;
    color: #ff6600;
}

.input-field:focus+.input-label+.input-highlight {
    width: 100%;
}

/* Login button */
.submit-button {
    display: inline-block;
    background-color: white;
    border: solid 2px black;
    color: black;
    text-align: center;
    font-size: 1em;
    padding: 0.5em;
    width: 12em;
    transition: all 0.5s;
    cursor: pointer;
}

/* Sidebar */
.side-bar {
    background: white;
    color: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    height: 100vh;
    box-shadow: 0px 0px 7px 0px #d8d8d8;
}

.custom-nav-item {
    background-color: white;
    height: 4em;
    text-align: left;
    align-items: center;
    display: flex;
}

.custom-nav-item-active {
    background-color: #FADE1B;
    height: 4em;
    text-align: left;
    align-items: center;
    display: flex;
}

.custom-nav-link {
    margin-left: 1em;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1.2em;
}

/* CSS Styles for Logo Container */
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* CSS Styles for Logo */
.logo {
    height: 8em;
}

/* CSS Styles for Assessment Root */
.assessmentRoot {
    height: 70vh;
    margin-left: 6em;
}

/* CSS Styles for Assessment Header */
.assessmentHeader {
    margin-right: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: white;
}

/* CSS Styles for Assessment Main */
.assessmentMain {
    margin-right: 6em;
    margin-top: 2em;
    margin-bottom: 6em;
    background-color: white;
    height: 100%;
}

/* CSS Styles for Assessment Button Container */
.assessmentButtonContainer {
    display: flex;
}

/* CSS Styles for Table Header */
.table thead th {
    background-color: #ff0000;
    color: #ffffff;
}
