body{
    background-color: #F2F2F2;
}
.RootLoginBackground {
    background: linear-gradient(to right, #E13805, #FFDF00);
}

.RootLoginForm {
    background: white;
    width: 30%;
    height: 50rem;
    margin-top: 7em;
    padding-top: 12em;
}

.Block {
    display: block;
}

.TitleText {
    text-align: center;
    margin-bottom: 2em;
}

.Forms {
    text-align: center;
    /* Center Align */
    padding: 20px;
}

input {
    margin-top: 15px;
    margin-bottom: 15px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}